*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: indianred;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page{
  flex-direction: column;
  width: 100vw;
  height: 100%;
  justify-content: flex-start;
}

.headline{
  color: white;
  margin-top: 3em;
  font-size: 2em;
  word-spacing: 1.2em;
  width: 30%;
}

.table-management-section{
  gap: 1em;
  height: 5em;
  width: 30%;
}

.table-management-section > span{
  justify-content: flex-start;
}

.table-management-section input,select,option {
  background-color: white;
  border-style: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  height: 35%; 
}

.new-work-input{
  width: 90%;
  font-size: 1.5em;
}

.add-work-btn{
  border-style: none;
  cursor: pointer;
  font-size: 1.5em;
}

.works-display{
  font-size: 1em;
}

.works-table{
  list-style-type:none;
  width: 40%;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.light-mode-not-done{
  width: 100%;
  background-color: rgb(227, 227, 227);
}

.light-mode-done{
  width: 95%;
  background-color: rgb(173, 247, 190);
}

.dark-mode-done{
  width: 95%;
  color: rgb(220, 220, 220);
  background-color: rgb(79, 116, 90);
}

.dark-mode-not-done{
  width: 100%;
  color: rgb(220, 220, 220);
  background-color: rgb(67, 67, 67);
}

span.work-desc.light-mode-done{
  text-decoration: line-through;
}

span.work-desc.dark-mode-done{
  text-decoration: line-through;
}

li {
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}

li > .btns{
  width: 10%;
  display: flex;
  justify-content: space-between;
}

li > .btns > button{
  border-style: none;
  cursor: pointer;
  font-size: 100%;
}

.check-sign{
  color: green;
}

.multi-sign{
  color: red;
}

.toggle{
  width: 20%;
  height: 35%;
  cursor: pointer;
  background-color: rgb(67, 67, 67);
  color: rgb(220, 220, 220);
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
}
